@{
    ViewData["Title"] = "Crash List";
}
@model List<Crash>

    <div class="container h-100 bg-dark w-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                @*<h1 class="display-3">TrafFIX</h1>
                <p class="lead mb-0">Our goal is to minimize death and injury on Utah's roads by minimizing the main causes of these colisions.</p>*@
            </div>
        </div>
    </div>



<h1 class="myTitle">Crashes</h1>

<form asp-action="CrashList" asp-route-page="@ViewBag.pageNum" method="get">
    <label>Filter by </label>
    <select name="filterColumn">
        <option value="">Select</option>
        <option value="CRASH_ID">Crash Id</option>
        <option value="CRASH_DATETIME">Crash Date/Time</option>
        <option value="ROUTE">Route</option>
        <option value="MILEPOINT">Route</option>
        <option value="LAT_UTM_Y">Latitude</option>
        <option value="LONG_UTM_X">Longitude</option>
        <option value="MAIN_ROAD_NAME">Road Name</option>
        <option value="CITY">City</option>
        <option value="COUNTY_NAME">County</option>
        <option value="CRASH_SEVERITY_ID">Crash Severity</option>
        <option value="WORK_ZONE_RELATED">Work Zone Related</option>
        <option value="PEDESTRIAN_INVOLVED">Pedestrian Involved</option>
        <option value="BICYCLIST_INVOLVED">Pedestrian Involved</option>
        <option value="MOTORCYCLE_INVOLVED">Pedestrian Involved</option>
        <option value="IMPROPER_RESTRAINT">Pedestrian Involved</option>
        <option value="UNRESTRAINED">Pedestrian Involved</option>
        <option value="DUI">Pedestrian Involved</option>
        <option value="INTERSECTION_RELATED">Pedestrian Involved</option>
        <option value="WILD_ANIMAL_RELATED">Pedestrian Involved</option>
        <option value="DOMESTIC_ANIMAL_RELATED">Pedestrian Involved</option>
        <option value="OVERTURN_ROLLOVER">Pedestrian Involved</option>
        <option value="COMMERCIAL_MOTOR_VEH_INVOLVED">Pedestrian Involved</option>
    </select>
    <input type="text" name="searchString" />
    <button type="submit">Filter</button>
</form>



<table class="table table-sm table-striped table-bordered" style="justify-self:center; height:fit-content;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Severity</th>
            <th scope="col"></th> @*Edit*@
            <th scope="col"></th>  @*Delete*@
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CRASH_ID</td>
                <td>@c.CRASH_DATETIME</td>
                <td>@c.CITY</td>
                <td>@c.CRASH_SEVERITY_ID</td>
                <td></td>
                <td class="btn btn-primary">
                    <a class="text-white" asp-route-id="@c.CRASH_ID" asp-controller="Home" asp-action="EditCrash">Edit</a>
                </td>
                <td class="">
                    <a class="btn btn-primary text-white" asp-route-id="@c.CRASH_ID" asp-controller="Home" asp-action="DeleteCrash">Delete </a>
                </td>

            </tr>

        }
    </tbody>
</table>
<br />

<p>Page</p>

<p>
    @if (ViewBag.pageNum != 1)
    {
        <a asp-action="CrashList" asp-route-page="@(ViewBag.pageNum - 1)">@(ViewBag.pageNum - 1)</a>
    }
@ViewBag.pageNum
<a asp-action="CrashList" asp-route-page="@(ViewBag.pageNum + 1)">@(ViewBag.pageNum + 1)</a>
</p>


